body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.mainheader-fleximg {
  text-align: left;
  width: 100%;
} 

.mainheader-flextext {
  text-align: right;
  color: black;
  width: 100%;
  }

  .navigationbar1{
    width: 100%;
    text-align: left;
    color: black;
}

.navigationbar2{
  width: 100%;
  text-align: center;
  color: black;
}

.navigationbar3{
  width: 100%;
  text-align: right;
  color: black;
}

.starRating{
  height: 40;
  width:40px;
  padding: 10;
}