.mainheader {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    }

.flex-container {
    display: flex;
}

.flex-item {
    text-align: right;
}

.mainfooter {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: white;
    text-align: center;
    }

.about-us {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.navigationbar{
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}