.mainheader {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    }

    .mainheader-flextext {
        text-align: right;
        color: white;
        width: 100%;
        }  

    .mainheader-fleximg {
        text-align: left;
        width: 100%;
    } 

.mainfooter {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: white;
    text-align: center;
    }

.about-us {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.navigationbar{
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.shop-now {
    color: #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}