.mainheader {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    }

    .mainheader-flextext {
        text-align: right;
        color: white;
        width: 100%;
        }  

    .mainheader-fleximg {
        text-align: left;
        width: 100%;
    } 

.mainfooter {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: white;
    text-align: center;
    }

.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.navigationbar{
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.shop-now {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.product-list {
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.individualproduct-styling {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

.individualproduct-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    align-content: center;
}

.product-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price-text {
    color: #007BFF;
    font-weight: bold;
    text-align: center;
}

.product-image:hover {
    color: #ffffff;
}